<h1>یادداشت های من</h1>

<a href="{% url 'note-create' %}">
    یادداشت جدید بنویس
</a>

<ul>
    {% for note in notes %}
        <li>
            <h4><a href="{% url 'note-detail' note.pk %}">{{ note.title }}</a></h4>
            
            <a href="{% url 'note-update' note.pk %}">ویرایش </a>
            &nbsp;|&nbsp;
            <a href="{% url 'note-delete' note.pk %}">حذف</a><hr>
        </li>
        {% empty %}
        <li>هیچ یادداشتی وجود ندارد؛ لطفاً یک یادداشت جدید ایجاد کنید</li>
    {% endfor %}
</ul>
